{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src/"],
        "alias": {
          "bulma": "bulma"
        }
      }
    ],
    ["lodash", { "id": ["lodash", "recompose", "bloomer", "recharts"] }]
  ]
}
