language: node_js
node_js:
  - 10
cache:
  yarn: true
  directories:
    - "node_modules"
install:
  - yarn
script:
  - yarn build
  - yarn test
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $github_token
  local-dir: dist
  fqdn: hodl.watch
  on:
    branch: master
