language: node_js
node_js:
  - 8
cache:
  directories:
    - "node_modules"
script:
  - npm run build
  - npm test
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $github_token
  local_dir: dist
  on:
    branch: master